<div class="card col-lg-12" id="<%= dom_id poisson %>" >

<div>

  <img style="whidth: 200px; height: 130px;" src="<%= poisson.image %>" lt="illustration de la carter"> 
    
    <p class="rarity">
    <%= poisson.rarity %>
  </p>

</div>

  <div class="top_card">
      <p>
        <strong>Name:</strong>
        <%= poisson.name %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= poisson.price %>
      </p>

      

      <p>
        <strong>Description:</strong>
        <%= poisson.description %>
      </p>

      <p>
        <strong>Nutriscore:</strong>
        <%= poisson.nutriscore %>
      </p>
  </div>



</div>

