<div class="card col-lg-12" id="<%= dom_id poisson %>" >

<!--<div>

  <img style="width: 100%;" src="<%= poisson.image %>" lt="illustration de la carter"> 
    
    <p class="rarity">
    <%= poisson.rarity %>
  </p>

</div>

  <div class="top_card">
      <p>
        <strong>Name:</strong>
        <%= poisson.name %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= poisson.price %>
      </p>

      

      <p>
        <strong>Description:</strong>
        <%= poisson.description %>
      </p>

      <p>
        <strong>Nutriscore:</strong>
        <%= poisson.nutriscore %>
      </p>
  </div>

</div>
-->


<div class="deck">
      <div class="card hovercard">
        <div class="front face">
            <div class="parent">
                <div class="wave-card">
                  <img  class="fish" style="width: 100%;" src="<%= poisson.image %>" lt="illustration de la carter">
                  <div class="wave-card-shape carre"></div>
                  <div class="wave-card-shape carre"></div>
                  <div class="wave-card-shape carre"></div>
                    
                  <h3 class="wave-card-title"> <%= poisson.name %></h3>
                    
                  <div class="pricerarenutri">
                    <p class="wave-card-subtitle"><%= poisson.price %></p>
                     
                    <div class="rarenutri">
                      <img class="nutri" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Nutri-score-B.svg/1920px-Nutri-score-B.svg.png">
                      <p class="rarity"><%= poisson.rarity %></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>


        <div class="back face">
            <div class="parent">
                <div class="wave-card">
                  <div class="wave-card-shape carre"></div>
                  <div class="wave-card-shape carre"></div>
                  <div class="wave-card-shape carre"></div>
                    
                  <h3 class="wave-card-title"><%= poisson.name %></h3>
                  <p class="descriptionn"><%= poisson.description %></p>
                </div>
            </div>
            <div class="buttonfish">
                <div class="row ">
                  <div id="poissons"> 

                </div>
            </div>
        </div>
      </div>
</div> 