
  <div class="all">

    <div class="card" style="width: 18rem;" id="<%= dom_id poisson %>">

            <strong></strong>
                    <img style="whidth: 200px; height: 130px;" src="<%= poisson.image %>"> 
                
                <div class="rarity">
                  <p>
                    <%= poisson.rarity %>
                  </p>
                </div>

          <div class="card-body">

              
              
                  <p>
                    <strong>Name:</strong>
                    <%= poisson.name %>
                  </p>
                  <p>
                    <strong>Price:</strong>
                    <%= poisson.price %>
                  </p>

                  

                  <p>
                    <strong>Description:</strong>
                    <%= poisson.description %>
                  </p>

                  <p>
                    <strong>Nutriscore:</strong>
                    <%= poisson.nutriscore %>
                  </p>
          </div>

          <p class="affichage">
            <%= link_to "Afficher ce poisson", poisson %>
          </p>
          

    </div>

  </div>