<h1>SALUT LES COPAIN </h1>
<div id="<%= dom_id poisson %>">
  <p>
    <strong>Name:</strong>
    <%= poisson.name %>
  </p>


    <strong>Image:</strong>
     <img src="<%= poisson.image %>">  

  <p>
    <strong>Price:</strong>
    <%= poisson.price %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= poisson.rarity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= poisson.description %>
  </p>

  <p>
    <strong>Nutriscore:</strong>
    <%= poisson.nutriscore %>
  </p>

</div>
