<p style="color: green"><%= notice %></p>


<div class="container">

  <h2>La Boutique de Piérick</h2>

  <%= link_to "Pécher un nouveau poisson", new_poisson_path, class: "btn btn-primary btn_create" %>

    
<div class="container_pierick">
  <img class="img_pierick" src="https://i.ibb.co/NnbZYRH/pierick.png" alt="Image descriptive">
  <div class="texte-survol">
    Argh, moussaillon, bienvenue dans ma Poissonnerie !<br>
    Je suis Piérick, ton vendeur de poissons intrépide.<br>
    Jette l'ancre sur l'un de ces poissons et découvre tous ses secrets !
  </div>
</div>


<div class="row " id="poissons">


        <% @poissons.each do |poisson| %>
      <div class="col-lg-4">
          <%= render poisson %>

            <%= link_to "Modifier ce poisson", poisson, class: "btn btn-warning" %>
            <%= link_to "Relâcher ce poisson à la mer", poisson, class: "btn btn-danger" %>
      </div>

</div>
    <% end %>


</div>
