<p style="color: green"><%= notice %></p>


<div class="container">

  <h2>La Boutique de Pierick</h2>

  <%= link_to "Nouveau poisson", new_poisson_path, class: "btn btn-primary btn_create" %>

    <div class="pierick">
      <img src="https://media.discordapp.net/attachments/725870884606181388/1210528800367185950/Pierick-removebg-preview.png?ex=65eae3cc&is=65d86ecc&hm=968fe31459de025b7de9b21441feab67b7566b9b13ae7f065f4ab9ff74755651&=&format=webp&quality=lossless&width=625&height=625">
    </div>




<div class="row " id="poissons">


        <% @poissons.each do |poisson| %>
      <div class="col-lg-4">
          <%= render poisson %>

            <%= link_to "Edit this poisson", poisson, class: "btn-warning" %>
            <%= link_to "Supprimer ce poisson", poisson, class: "btn-danger" %>

      </div>

</div>
    <% end %>


</div>