<p style="color: green"><%= notice %></p>


<h1><%= @poisson.name %></h1>

<div class="container col-lg-4">

  <div>
    <%= render @poisson %>
  </div>

  <div class="edit_delet">
    <%= link_to "Edit this poisson", edit_poisson_path(@poisson), class:"btn btn-warning col-lg-4" %>
    <%= button_to "Supprimer ce poisson", @poisson, method: :delete, class:"btn btn-danger col-lg-4" %>
  </div>
   <%= link_to "Back to poissons", poissons_path, class:"btn btn-primary col-lg-4" %>

</div>